/* WORK: CARDS STYLE */
i {
    opacity: 0;
    font-size: 18px;
    color: #fff ;

    will-change: transform;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


body {
    background-color: #fff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5%;
}

.container .card {
    position: relative;
    width: 500px;
    height: 200px;
    background-color: #fffaf1;
    z-index: 0.001;
    overflow: hidden;
    margin: 20px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 17px 11px -6px rgba(143,143,143,0.8);
    -moz-box-shadow: 0px 17px 11px -6px rgba(143,143,143,0.8);
    box-shadow: 0px 17px 11px -6px rgba(143,143,143,0.8);

}

.container .card:before {
    content: "";
    z-index: 99;
    position: absolute;
    top: -10px;
    left: 32px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: white;
}

.container .card:after {
    content: "";
    z-index: 99;
    position: absolute;
    bottom: -10px;
    left: 32px;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: white;
}
    
.fa-arrow-right {
    z-index: 100;
    position: absolute;
    right: 15px;
    bottom: 15px;
    font-size: 40px;
    cursor: pointer;
}

.card p {
    z-index: 99;
    position: absolute;
    top: 4%;
    right: 5%;
    color: #333;
    opacity: 1;
    font-size: 16px;
    letter-spacing: 1px;
    writing-mode: vertical-rl;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    display: none;
}

.description{
    font-size: 12px;
    color: white;
}

.languages{
    color: white;
    font-size: 12px;
    font-family: Roboto Mono, monospace;
}

.pic {
    z-index: 100;
    width: 400px;
    height: 200px;
    background-image: url("./assets/work/Hera/kaia_render.jpg");
    background-size: 100% 100%;
    /* filter: grayscale(100%); */
}

.card:hover i {
      opacity: 1;
      z-index: 999;
      -webkit-transform: scale(1);
      transform: scale(1);
}

button {
    position: absolute;
    right: 14px;
    bottom: 14px;
    width: 30px;
    height: 30px;
    background-color: blue;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline:none;
    transition: all 0.3s ease;
    mix-blend-mode: multiply;
}

button i {
    font-size: 3rem;
}

.card:hover button {
    transform: scale(16.5);
}

.card:hover p {
    color: #fff;
    writing-mode: horizontal-tb;
    text-align: left;
    display: block;
    width: 180px;
}

.card:hover .pic {
      filter: grayscale(0); 
}
   
.card2 .pic {
    background-image: url("./assets/tickets/cec.png");
}

.card2 button {
    background-color: blue;
}

.card3 .pic {
    background-image: url("./assets/tickets/portfolio-mockup.png");
}

.card3 button {
    background-color: blue;
}

.card4 .pic {
    background-image: url("./assets/tickets/match_mockup.png");
}

.card5 .pic {
    background-image: url("./assets/tickets/pvz.png");
}

.card6 .pic {
    background-image: url("./assets/tickets/datsci.png");
}

.card3 button {
    background-color: blue;
}